<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Coding Problems - [Problem #]</title>
</head>
<body>
  <h1>Good morning!</h1>
  <h2>Here's your coding interview problem for today.</h2>
  <p>This problem was recently asked by [company].</p>
  <p>Enter description here...</p>
  <p>View console to find out more...</p>
  <script src="problem.js"></script>
  <script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
  </script>
</body>
</html>